 /* main section div {
  
} */

#tweetSubmit {
  background-color: #4056A1;
  font-family: "bungee", cursive;
  font-weight: 400;
  color: #FFFFFF;
  border: 0;
}

 .new-tweet form {
  display: flex;
  flex-direction: column;
}

.tweet-inputs {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-family: "bungee", sans-serif; 
  

}

main section form label {
  display: flex;
  font-family: "sans 3", sans-serif;
  font-weight: 600;
}

textarea {
  width: 100%;
  border: 5px solid rgb(90, 90, 90);
  outline-width: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: large;
  font-family: "san 3", sans-serif;
  font-weight: 600;
  background-color: #f4f1ec;
}

#tweet-text {
  max-height: 100;
}

#demoTweets {
  margin-top: 100px;
  width: 38em;
  display: flex;
  flex-direction: column;
  justify-items: center ;
  padding: 10px;
  border: solid;
margin-bottom: 20px;
}

#demoTweets:hover {
  box-shadow: 7px 7px 1px 1px rgba(0, 0, 255, 0.089);
}


#demoTweets header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 100%;
}

#demoTweets footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#demoTweets #demoTweetsText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 5px solid rgb(90, 90, 90);
  outline-width: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  font-family: "san 3", sans-serif;
  font-weight: 600;
  font-size: 95%;
}

#demoTweets #demoTweetsFooter {
  margin-top: 10px;
  display: flex;
  font-size: large;
  justify-content: space-between; 
}

#demoTweets #At {
  color: #b4bcd6;
  font-family: "san 3", sans-serif;
  font-weight: 600;
  font-size: 89%;
}


#demoTweets #icons {
  color: #3f4f85;
}


.fa-flag:hover {
 color:rgb(230, 188, 3);
}
.fa-heart:hover {
 color:red;
}
.fa-retweet:hover {
 color:rgb(230, 188, 3);
}


.overLimit {
  color: red;
}


  


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(48, 43, 43, 0.5); 
}
