/* main section div {
  
} */

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

}


.tweetSubmit:hover {
  border: 2px solid #0c3cd8;
  background-color: #324eac;
  transition: 20ms;
}

.tweetSubmit {
  border-radius: 7px;
  background-color: #4056A1;
  font-family: "bungee", cursive;
  font-weight: 400;
  color: #FFFFFF;
  border: 0;
  
}


 .new-tweet form {
  display: flex;
  flex-direction: column;
  margin-bottom: -2.33em;
}

.tweet-inputs {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-family: "bungee", sans-serif; 
  

}

main section form label {
  display: flex;
  font-family: "sans 3", sans-serif;
  font-weight: 600;
}

textarea {
  width: 100%;
  border: 5px solid rgb(90, 90, 90);
  outline-width: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: large;
  font-family: "san 3", sans-serif;
  font-weight: 600;
  background-color: #f4f1ec;
  
}

#tweet-text {
  max-height: 6.25em;
}

#demoTweets {
  margin-top: 6.25em;
  width: 38em;
  display: flex;
  flex-direction: column;
  justify-items: center ;
  padding: 0.625em;
  border: solid;
margin-bottom: 1.25em;
}

#demoTweets:hover {
  box-shadow: 7px 7px 1px 1px rgba(0, 0, 255, 0.267);
}


#demoTweets header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 100%;
}

#demoTweets footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#demoTweets #demoTweetsText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 5px solid rgb(90, 90, 90);
  outline-width: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  font-family: "san 3", sans-serif;
  font-weight: 600;
  font-size: 95%;
}
#demoTweets #demoTweetsText p {
word-break: break-all;
}
  

#demoTweets #demoTweetsFooter {
  margin-top: 10px;
  display: flex;
  font-size: large;
  justify-content: space-between; 
}

#demoTweets #At {
  color: #b4bcd6;
  font-family: "san 3", sans-serif;
  font-weight: 600;
  font-size: 89%;
}


#demoTweets #icons {
  color: #3f4f85;
}


.fa-flag:hover {
 color:rgb(230, 188, 3);
}
.fa-heart:hover {
 color:red;
}
.fa-retweet:hover {
 color:rgb(230, 188, 3);
}



.overLimit {
  color: red;
}

.form-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error {
  color: red;
  font-style: italic;
}
  


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(48, 43, 43, 0.5); 
}



  @media only screen and (min-width: 1024px) {

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

    #profilePic {
      height: 40em;
      width: 50rem;
      margin-top: 10em;
      margin-left: 3em;
      height: 16.66em;
      display: flex;
      justify-self: flex-start;
      align-self: start;
      flex-direction: column;
      float: inline-start;
    }

    .new-tweet {
      height: 16.66em;
      margin-top: 4em;
      margin-bottom: -4em;
      align-self: center;
      justify-self: flex-start;
      flex-direction: column;

    }

    #demoTweets {
      margin: 3em;
      padding: 1em;
    }
  }